.border {
    background-color: #808080;
    border: solid 2px;
    border-color: silver;
}
.tdcells{
    height: 22px;
    width: 25%;
}
.center{
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.left {
    float: left;
}
.position {
    position: relative;
}
.tablestyle {
    height: 352px;
    position: relative;
    width: 400px;
}
